/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/
/web/assets/vendor/
!/web/assets/vendor/.gitkeep
/web/uploads
!/web/uploads/memes/a11c6cc8a446e573b2d1f0fa1aa234e1.jpg
!/web/uploads/memes/ae2d99f559df35940b209ad8f29e664b.jpg
!/web/uploads/memes/126995887f44982c91ef485506a94386.png
