{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for meme in memes %}
            <li>
                <p><a href="{{ path('lol_show_meme', { 'id': meme.id }) }}">{{ meme.title }}</a></p>
                <img src="{{ asset('uploads/memes/' ~ meme.image) }}">
            </li>
        {% else %}
            Pas de memes
        {% endfor %}
    </ul>
{% endblock %}